* {
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish",
    sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.wriper {
  max-width: 1200px;
  min-width: none;
  margin: 0px auto;
  padding: 0 10px;
}

@media (max-width: 1200px) {
  .wriper {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .wriper {
    max-width: 750px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: blue;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  z-index: 2;
}

.header-body {
  position: relative;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.img {
  flex: 0 0 60px;

}

.img-avatara {
  position: relative;
  display: block;
  max-width: 100%;
  border-radius: 50%;
  z-index: 3;
}

.header-burger {
  display: none;
}

.header-list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header-list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header-link {
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 767px) {
  .wriper {
    max-width: none;
  }

  body.lock {
    overflow: hidden;
  }

  .header-body {
    height: 50px;
  }

  .img {
    flex: 0 0 40px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 3;
  }

  .header-burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header-burger::before,
  .header-burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header-burger::before {
    top: 0;
  }

  .header-burger::after {
    bottom: 0;
  }

  .header-burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.5s ease 0s;
  }

  .header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.5s ease 0s;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .header-menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 50%;
    height: 25%;
    background-color: cornflowerblue;
    padding: 70px 10px 20px 10px;
    transition: all 0.5s ease 0s;
  }

  .header-menu.active {
    top: 0;
    transition: all 0.5s ease 0s;
  }

  .header-list {
    display: block;
  }

  .header-list li {
    margin: 0 0 20px 0;
  }
}

.main {
  background-color: azure;
}

.main-contacts {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-me {
  display: flex;
  flex-flow: row wrap;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

p {
  margin-top: 0;
}

.video-me {
  max-width: 50%;
  min-width: 200px;
}

.video {
  max-width: 100%;
}

.footer {
  background-color: rgb(138, 135, 135);
}

.footer-wriper {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70px;
}